* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.field {
  font-family: Montserrat;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: white;
}

.value {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 40px;
  background-color: #9d968d;
  min-width: 80px;
  height: 100px;
  text-align: center;
  border-radius: 4px;
}

.label {
  font-weight: 400;
  color: #212121;
  margin-top: 10px;
}
